@import "tailwindcss";


:root {
  --background: #F6F3E4;
}
html, body {
  background-color: var(--background);
  height: 100%;
  margin: 0;
  padding: 0;
}


.sem-barra {
  scrollbar-width: none;
}

.sem-barra::-webkit-scrollbar {
  display: none;
}

