@import "tailwindcss";


:root {
  --background: #F6F3E4;
}

html, body {
  background-color: var(--background);
  height: 100%;
  margin: 0;
  padding: 0;
}


.sem-barra {
  scrollbar-width: none;
}

.sem-barra::-webkit-scrollbar {
  display: none;
}
@keyframes fadeIn {
  from { opacity: 0 }
  to { opacity: 1 }
}

@keyframes fadeOut {
  from { opacity: 1 }
  to { opacity: 0 }
}

@keyframes scaleIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes scaleOut {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.9);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.23s ease-out forwards;
}

.animate-fadeOut {
  animation: fadeOut 0.23s ease-in forwards;
}

.animate-scaleIn {
  animation: scaleIn 0.23s ease-out forwards;
}

.animate-scaleOut {
  animation: scaleOut 0.23s ease-in forwards;
}


